.header-styling {
    background-color: #282c34;
    color: white;
    padding: 40px;
    /* font-family: Arial; */
    /* font-family: futuraptbook; */
    /* font-family: futura-pt; */
    /* font-weight: 400; */
    text-align: center;
}

.pfp {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    height: auto;
}

.movie-poster {
    border: 10px #282c34;
    border-radius: 5px;
    width: 20%;
    height: auto;
    margin: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* .profile-row {
    display: flex;
} */

.profile-row:after {
    content: "";
    display: table;
    clear: both;
}

.profile-col {
    /* flex: 50%; */
    float: left;
    padding: 10px;
    margin-left: 10px;
}

.profile-left {
    width: 25%;
}

.profile-left img {
    width: 100%;
    height: auto;
}

.profile-right {
    width: 70%;
}

* {
    box-sizing: border-box;
  }